body {
    margin: 0;
    background-color: #717272;
}

* {
    box-sizing: border-box;
    color: rgb(219, 217, 217);
}

/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}

/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}

/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px gainsboro;
    border-radius: 10px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}

/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    nav ul {
        background-color: rgb(243, 251, 254);
    }
}

nav li a {
    color: rgb(219, 217, 217);
}

nav li:hover {
    background-color: rgb(225, 245, 253);
    
}
nav li:hover a {
    background-color: rgb(225, 245, 253);
    color: black;
}

.text-right {
    text-align: right;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.py-3 {
    padding: 16px 0;
}

.px-3 {
    padding: 0 16px;
}

.p-3 {
    padding: 16px;
}

.bg-azul-o {
    background-color: cadetblue;
}

.bg-azul-c {
    background-color: rgb(240, 249, 252);
}

.bg-orange {
    background-color: orange;
}

.text-white {
    color: white;
}

.text-red {
    color: red;
    font-size: 30px;
    background-color: cyan;
}

footer h1 {
    border-bottom-left-radius: 10px;
}

footer h1 {
    border-bottom-right-radius: 10px;
}

h1 {
    margin: 0;
}

#btnmenu {
    font-size: 40px;
    display: none;
}

/* For mobile: */
@media screen and (max-width: 1000px) {
    #btnmenu {
        display: inline;
    }

    #menu {
        display: none;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1000px) {
    #menu {
        display: block;
    }
}

.etiqueta {
    color: rgb(250, 7, 7);
    font-size: 40px;
}
.atributo {
    color: darkgreen;
    font-size: 40px;
}
#enlaces a {
    color: blue;
    font-size: 20px;
    text-decoration: underline;
}
#listas .customdes li {
    list-style-type: square;
}
#listas .customdes li li {
    list-style-type: disc;
}
#listas .customdes li li li {
list-style-type: circle;    
}
#listas .customord li {
    list-style-type: upper-roman ;
}
#listas .customord li li {
    list-style-type: upper-latin ;
}
#listas .customord li li li {
    list-style-type: number; ;
}
#listas .customdesic li {
    list-style-type: disc ;
}
#listas .customdesic li li {
    list-style-image: url(../img/corazon.png);
}
#listas .customdesic li li li {
    list-style-type: disc;
    list-style-image: none ;
}
#listas .customdef dt {
    font-size: 25px;
    background-color: aqua;
}
.fondos th{
    background-color: #17aedc;
}
.striped tr:nth-child(odd) {
    background-color: rgb(165, 136, 42);
}
.striped tr:nth-child(even) {
    background-color: brown;
}
.horario {
    width: 80%;
    margin: 0 auto;
}

.horario th {
    background-color:rgb(240, 240, 240);
     color: rgb(18, 121, 123);
}
.BDD {
    background-color:rgb(129, 255, 129) ;
    text-align: center;
    color: black;
}
.PROG {
    background-color:rgb(100, 180, 239) ;
    text-align: center;
    color: black;
}
.SISI {
    background-color:rgb(101, 170, 151) ;
    text-align: center;
    color: black;
}
.LMSG {
    background-color:rgb(209, 210, 113) ;
    text-align: center;
    color: black;
}
.PIMD {
    background-color:rgb(254, 201, 151) ;
    text-align: center;
    color: black;
}
.IPCG {
    background-color:rgb(255, 160, 100) ;
    text-align: center;
    color: black;
}
.ENDE {
    background-color:rgb(201, 160, 200) ;
    text-align: center;
    color: black;
}
.SASP {
    background-color:rgb(40, 200, 200) ;
    text-align: center;
    color: black;
}
.DASP {
    background-color:rgb(255, 255, 98) ;
    text-align: center;
    color: black;
}
.IPE {
    background-color: rgb(252, 128, 130) ;
    text-align: center;
    color: black;
}

.formlogin {
    width: 40%;
    float: left;
}
.formregister {
    width: 50%;
    float: right;
   
}
.formhtml5 {
    width: 30%;
    margin: 0 auto;
    background-color:rgb(226, 250, 250);  
}
.cb {
    clear: both;
}
.formhtml5 legend {
    background-color: black;
    color: aliceblue;
    font-size: 22px;
}
.formhtml5 label {
    background-color: blueviolet;
    color: aliceblue;
    font-size: 22px;
}
.btn {
    border: 0;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 15px;
    background-color: violet;
}
.btn2 {
    border: 0;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 15px;
    background-color: violet;
}
.btn3 {
    border: 0;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 15px;
    background-color: violet;
}
.col3 {
    width: 33%;
    float: left;
}
.col3 img {
    padding: 4px;
}
video {
    width: 50%;
    margin: 0 auto;
    display: block;
}
audio {
    margin: 0 auto;
    display: block;
}
.text-center {
    text-align: center;
}
.portada {
  display: flex;
  justify-content: center; 
  align-items: center;     
}